* { /* Sets the format for the whole website */
  box-sizing: border-box;
}

html { /* This makes the scrolling on the page smooth*/
  scroll-behavior: smooth;
}

body { /* Formats the body on the website. It includes the fonts that have been added as well as the line height of the text. */
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 { /* Formats how all the h tags to have 0 margin on the website */
  margin: 0;
}